body {
    margin: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.image {
    width: 150px;
}
.card {
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 6px solid #d8cefe;
}
.border {
    border: 1px blue dotted;
}